.Avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    // background-color: rgb(255, 168, 168);
    background-image: url('../../../assets/icons/avatar.svg');
    background-size: contain;
    img {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
.SmallAvatar {
    height: 40px;
    width: 40px;
}