.LoginPage {
    .Container {
        width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .WhatsAppIcon {
            height: 110px;
            margin-bottom: 50px;
        } 
        .Heading {
            font-size: 20px;
            text-align: center;
            color: #0c7c71;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .DescriptionText {
            color: rgb(78, 78, 78);
            margin-bottom: 80px;
            text-align: center;
        }
        .InputNumber {
            font-size: 24px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #0c7c71;
            outline: none;
            color: rgb(78, 78, 78);
            width: 200px;
            text-align: center;
            margin-bottom: 100px;
            padding-bottom: 10px;
            &:focus {
            border-bottom: 2px solid #0c7c71;
            margin-bottom: 99px;
            }
        }
        // To remove the number change button
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
        // Increase the placeholder height
        input::-webkit-input-placeholder {
            font-size: 18px;
        }
        .NextButton  {
            padding: 15px 25px;
            color: white;
            background-color: #0c7c71;
            border: none;
            font-size: 14px;
            border-radius: 3px;
            cursor: pointer;
        }
        .Divider {
            color: rgb(78, 78, 78);
            margin: 20px 0px;
        }
        .LoginText {
            color: rgb(78, 78, 78);
        }
        .GoogleLoginButton {
            padding: 10px 40px;
            background-color: rgb(28, 120, 224);
            color: white;
            outline: none;
            border: none;
            border-radius: 3px;
            display: flex;
            align-items: center;
            cursor: pointer;
            .GoogleIcon {
                height: 30px;
                width: 30px;
                margin-right: 20px;
            }

        }
        .GoogleSignUpButton {
            background-color: transparent;
            color: rgb(28, 120, 224);
            border: none;
            cursor: pointer;
            font-size: 15px;
            margin-left: 3px;
            font-weight: 600;
        }

    }
}

@media only screen and (max-width: 480px) {
    .LoginPage {
        .Container {
            width: 100%;
            padding: 0px 20px;

        }
    }
  }
